body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
   
    .nav-borders .nav-link {
        cursor: pointer;
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
      
    }

    select{
        cursor: pointer;
    }
.btn-7 {
  background-color: #1C6E8C;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: #605856 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 14px;
  height: 36px;
  font-weight: 600;
  line-height: 1.15000;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.box {
    border-radius: 5px;
    padding: 20px;
}

.b .list {
    overflow: auto;
    width: 100%;
    min-height: 100%;
    max-height: 600px;
    margin: 0px 10px 0px 0px;
    font-size: var(--font-size);
    line-height: var(--font-size);
    font-family: var(--font-face);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: var(--form-bg);
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 100%;
    }

}